<div class="card">
    <div class="card-body">
        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
            <input type="hidden" name="key" #key="ngModel" [(ngModel)]="userService.selectedUser.key">
            <div class="mb-3">
                <input 
                    type="text"
                    class="form-control"
                    name="email"
                    #email="ngModel"
                    [(ngModel)]="userService.selectedUser.email"
                    placeholder="User Email">
            </div>
            <div class="mb-3">
                <input 
                    type="text"
                    class="form-control"
                    name="password"
                    #password="ngModel"
                    [(ngModel)]="userService.selectedUser.password"
                    placeholder="User Password">
            </div>
            <div class="mb-3">
                <input 
                    type="text"
                    class="form-control"
                    name="name"
                    #name="ngModel"
                    [(ngModel)]="userService.selectedUser.name"
                    placeholder="User Name">
            </div>
            <div class="text-center">
                <button class="mb-3 btn btn-info" type="submit">
                    <i class="fas fa-user-plus"></i>
                    Add User
                </button>
                <button class="mb-3 btn btn-primary" type="reset" (click)="resetForm(userForm)" id="btnReset" >
                    <i class="fas fa-redo-alt"></i>
                    Reset Fields
                </button>
            </div>
        </form>
    </div>
</div>